<section class="tm-site-header tm-flex-center tm-mb-50 tm-bgcolor-1 tm-border-rounded">
    <i class="fas fa-heart fa-3x"></i>
    <h1>Nano Folio</h1>
</section>

<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded">
    <div class="tm-about-header tm-flex-center">
        <i class="fas fa-users fa-2x"></i>
        <h2>About Us</h2>
    </div>
    <div class="tm-about-text">
        <p class="tm-mb-40">Nano Folio is simple HTML template with a minimal very light-weight custom CSS file. Max content width is 940 pixels. You can easily change the width or any part in this template. Gallery comes with a pop-up image and simple categories.</p>
        <p class="tm-mb-0">Please support Tooplate website by telling your friends about it. That is going to be very helpful for us. Feel free to 
            <a rel="nofollow" href="https://www.tooplate.com/contact" target="_blank">message us</a> via email or live chat if you have anything to say.</p>
    </div>
</section>